[submodule "Spidey_V2_real"]
	path = Spidey_V2_real
	url = https://github.com/JasonJZLiu/Spidey_V2_real.git
[submodule "Spidey_Real"]
	path = Spidey_Real
	url = https://github.com/JasonJZLiu/Spidey_Real.git
